
/*css for the slick slider with progressbar*/
.swp-links-slider .slick-track{
	display:flex;
  flex-direction:column;
}
.swp-links-slider .slick-slide{
	width:100%!important;
}
.swp-links-slider .swp-link.slick-current > div{
	color:#072d66;
}
.swp-links-slider .slick-current.active .progressbar{
	width:100%!important;
  transition: 8s;
}
.slick-track{
	margin-right:0;
}

.swp-image-wrapper {
  margin-right: 0px;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.swp-links-slider .slick-current.active .active-indicator{
	transform: rotate(360deg);
}
.swp-links-slider .slick-current .isShow{
  transition:2s;
}

.swp-links-slider.slick-slider{
		display:none!important;
  }
 
}
